Health_Insurance_Cost_Prediction.json
[{"id":"de53e1f7.af6de","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c31a853a.43eb88","type":"ui_form","z":"de53e1f7.af6de","name":"","label":"","group":"566d14c3.9a0abc","order":2,"width":0,"height":0,"options":[{"label":"Age","value":"Age","type":"number","required":true,"rows":null},{"label":"Gender","value":"Sex","type":"text","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"Children","value":"Children","type":"number","required":true,"rows":null},{"label":"Smoker","value":"Smoker","type":"text","required":true,"rows":null},{"label":"Region","value":"Region","type":"text","required":true,"rows":null}],"formValue":{"Age":"","Sex":"","BMI":"","Children":"","Smoker":"","Region":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":70,"y":260,"wires":[["27b4532c.68f83c","846418a4.1539f8"]]},{"id":"27b4532c.68f83c","type":"function","z":"de53e1f7.af6de","name":"Pre-token","func":"global.set(\"Age\",msg.payload.Age)\nglobal.set(\"Sex\",msg.payload.Sex)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"Children\",msg.payload.Children)\nglobal.set(\"Smoker\",msg.payload.Smoker)\nglobal.set(\"Region\",msg.payload.Region)\nvar apikey=\"6ko1UipJkxiODjcioTbxdUJ2UHd83JB3e-_4su1O6pl9\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":220,"wires":[["56ca009e.f580a"]]},{"id":"56ca009e.f580a","type":"http request","z":"de53e1f7.af6de","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":280,"wires":[["6b7746f2.779c08","efeb16ba.8bb9a8"]]},{"id":"aea5e53f.336118","type":"inject","z":"de53e1f7.af6de","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":120,"wires":[["27b4532c.68f83c"]]},{"id":"846418a4.1539f8","type":"debug","z":"de53e1f7.af6de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":340,"wires":[]},{"id":"6b7746f2.779c08","type":"function","z":"de53e1f7.af6de","name":"Pre Prediction","func":"var age = global.get(\"Age\")\nvar sex = global.get(\"Sex\")\nvar bmi = global.get(\"BMI\")\nvar children = global.get(\"Children\")\nvar smoker = global.get(\"Smoker\")\nvar region = global.get(\"Region\")\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"age\", \"sex\", \"bmi\", \"children\",\"smoker\",\"region\"]],\"values\": [[age,sex,bmi,children,smoker,region]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":200,"wires":[["b59f065b.6fa868"]]},{"id":"efeb16ba.8bb9a8","type":"debug","z":"de53e1f7.af6de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":360,"wires":[]},{"id":"b59f065b.6fa868","type":"http request","z":"de53e1f7.af6de","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/e47e6df5-b312-4828-a09d-df1effe0753b/predictions?version=2021-03-15","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":280,"wires":[["1706f271.0d603e","5312bbfa.481fa4"]]},{"id":"1706f271.0d603e","type":"function","z":"de53e1f7.af6de","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":200,"wires":[["da3b51ba.61fa4","57048718.d97178"]]},{"id":"da3b51ba.61fa4","type":"debug","z":"de53e1f7.af6de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":120,"wires":[]},{"id":"57048718.d97178","type":"ui_text","z":"de53e1f7.af6de","group":"566d14c3.9a0abc","order":3,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":280,"wires":[]},{"id":"5312bbfa.481fa4","type":"debug","z":"de53e1f7.af6de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":360,"wires":[]},{"id":"566d14c3.9a0abc","type":"ui_group","name":"Health Insurance Cost Prediction","tab":"c21e4c60.62854","order":1,"disp":true,"width":"6","collapse":false},{"id":"c21e4c60.62854","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]